font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(../font/oxygen.woff) format('woff2'), url(../font/oxygen_2.woff) format('woff');
}

body {
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;	
}